{% extends '::base.html.twig' %}
{% block title %}Kategorie{% endblock %}

{% block body -%}
    <h1>Kategorie wydatków</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Nadkategoria</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('categories_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                    {% if entity.masterCategory != null %}
                        {{ entity.masterCategory.name }}
                    {% else %}
                        root
                    {% endif %}
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('categories_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('categories_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('categories_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
