{% extends "::base.html.twig" %}

{% block title %}Statystyki{% endblock %}

{% block body %}
<h1>Statystyki</h1>
<dl>
    <dt>
        Wykres wydawania kasy
    </dt>
        {{ dump(expensesByDay) }}
    <dt>
        Średnie dzienne wydatki
    </dt>
    <dd>
        {{ avgDailyExpenses.avg_daily_expense|number_format(2, ',',' ') }} PLN.<br>
        Licząć od {{ avgDailyExpenses.start_from }}.
        No. dni: {{ avgDailyExpenses.days_count }}.
    </dd>
    <dd>
    </dd>
    <dt>
        Wydatki w kategoriach
    </dt>
    <dd>
        <table class="table">
            <thead>
                <th>Nazwa kategorii</th>
                <th>Kwota PLN</th>
            </thead>
            <tbody>
                {% for row in categorySpendings%}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.sum_category|number_format(2, ',',' ') }}</td>
                </tr>
                {% endfor %}
            </tbody>
                
        </table>
    </dd>
</dl>
{% endblock %}
