{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Transaction list</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created at</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Memo</th>
                <th>Payee</th>
                <th>Account</th>
                <th>Is flagged</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="{% if entity.isExpense == true %}danger{% else %}success{% endif %}">
                <td><a href="{{ path('transaction_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.amount }}</td>
                <td>{% if entity.category != null %}{{ entity.category.name }}{% else %}brak kategorii{% endif %}</td>
                <td>{{ entity.memo }}</td>
                <td>{{ entity.payee }}</td>
                <td>{{ entity.account }}</td>
                <td>{{ entity.isFlagged }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('transaction_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('transaction_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
