{% extends '::base.html.twig' %}
{% block title %}Transakcje{% endblock %}
{% block body -%}
    <div class="row">
        <div class="col-md-4 jumbotron"><p class="text-warning">Wydałeś {{ expenseSum|number_format(2, ',',' ') }} PLN</p></div>
        <div class="col-md-4 jumbotron"><p class="text-success">Zarobiłeś {{ incomeSum|number_format(2, ',',' ') }} PLN</p></div>
        <div class="col-md-4 jumbotron"><p class="text-primary">Bilans {{ balance|number_format(2, ',',' ') }} PLN</p></div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Kwota</th>
                <th>Kategoria</th>
                <th>Memo</th>
                <th>Tagi</th>
                <th>Wydano u</th>
                <th>Konto</th>
                <th>Oznaczenie</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="{% if entity.isExpense == true %}danger{% else %}success{% endif %}">
                <td><a href="{{ path('transaction_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.amount|number_format(2, ',',' ') }} PLN</td>
                <td>{% if entity.category != null %}{{ entity.category.name }}{% else %}brak kategorii{% endif %}</td>
                <td>{{ entity.memo }}</td>
                <td>
                    {% for tag in entity.tags %}
                        <li>{{ tag.name }}</li>
                    {% endfor %}
                </td>
                <td>{{ entity.payee }}</td>
                <td>{{ entity.account }}</td>
                <td>{{ entity.isFlagged }}</td>
                <td>
                    <button type="button" class="btn btn-default">
                          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  <a href="{{ path('transaction_edit', { 'id': entity.id }) }}">edit</a>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
